  var securityContext = SecurityContext()
    ..useCertificateChain(__SSLCERT__)
    ..usePrivateKey(__SSLKEY__, password: __SSLKEYPASSWORD__);

  var server = await serve(__ADDRESS__, __PORT__,
      securityContext: securityContext,
      backlog: __BACKLOG__,
      v6Only: __V6ONLY__,
      shared: __SHARED__,
      type: __SERVERTYPE__,
      isolates: __ISOLATES__,
      hotReload: __HOTRELOAD__,
      debug: __DEBUG__);